.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.brand-margin {
  padding-right: 20px;
}

.icon-logo {
  margin-right: 16px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
